/* thead
{
    background-color:#d8e0ea;

}
th
{
    border-right: 1px solid grey;
    
}
td{
    border-right: 1px solid grey;
}
.thh
{
    border-bottom: 1px solid grey;
}

.test:after {
    content: '\2026';
    font-size: 30px;
    }

    .modal-content
    {
        width: 160px;

    } */
    .thdata{
        font-family: 'Avenir Next LT Pro Regular' !important;
    }
    .dropdown-menu dropdown-primary{
        font-family: 'Avenir Next LT Pro Regular' !important;
    }