<form [formGroup]="addAdminForm" (ngSubmit)="onFormSubmit()">
    <div>
        <div>
  <input  style=" width: 99%;height: 37px;" formControlName="FirstName" placeholder="First name"></div>

</div><br>
  
  <div>
  <input  style=" width: 99%;height: 37px;" formControlName="LastName" placeholder="Last Name">
</div>
  <br>
  <!-- <int-phone-prefix style=" width: 10%;height: 37px;" [locale]="'es'" formControlName="myPhone">+91</int-phone-prefix> -->
  <int-phone-prefix #phoneid (click)='isEntered($event)' class="countruCls countrypls" [maxLength]="15"  [locale]="'en'"  [defaultCountry]="'us'" formControlName="Phone"></int-phone-prefix>
     
  <!-- <input style=" width:86%;height: 37px;margin-left: 2px" formControlName="Phone" placeholder="Phone Number"> -->
 
 
  <div>
      <br>
  <input  style=" width: 99%;height: 37px;" formControlName="EmailId" (keyup)="onKeyUp($event)" placeholder="Email">
  <br>
 
</div>
  <br>
  <div>
      <div>
  <input type="password"  style=" width: 99%;height: 37px;font-family:Avenir Next LT Pro Regular !important;" formControlName="Password"  placeholder="Password"></div>

</div>
 
  <br>
  <div>
      <select  formControlName="Role" style=" width: 99%;height: 37px;font-family:Avenir Next LT Pro Regular !important;">
        <option  value="User and User Profile Administrator">User and User Profile Administrator</option>
        <option value="VoicX Posts Administrator">VoicX Posts Administrator</option>
        <option value="Strategic Reports Administrator"> Strategic Reports Administrator</option>
        <option value="Master Administrator">Master Administrator</option>
      </select>
  </div>
  
      
</form>